.doc-wrap {
  height: 100%;
}
.doc-item {
  margin-left: 20px;
  height: 32px;
  line-height: 32px;

  border-bottom: 1px solid lightgray;
  cursor: pointer;

  a {
    color: #111;
    &:hover {
      color: #30b6f2;
    }
  }
  &:hover {
    background-color: #e5e5e5;
  }
}
.doc-h3 {
  margin: 20px 0 10px 0;
  border-bottom: 1px solid lightgray;
}
.doc-finder {
  display: inline-block;
  font-size: 18px;
  // transition: 0.1s all;
  // &:hover {
  //   font-size: 18px;
  // }
}
